Requirements of word-count for total words:

word-count: TEXT-> N
\forall file: TEXT
word-count file = #(words file) 

Requirements of line-count:

line-count: TEXT -> L
\forall file: TEXT
line-count file = #(lines file)

Requirements of char-count:


char-count: TEXT -> C
\forall file: TEXT
char-count file = #(ABCchars file) - #(whitespace file) 

Requirements of unique word frequency:

Word-Count: word x seq word -> N

\forall w:word s:seqWord
count w <> = 0&
count w <e> = 0 if w == e
count w <e> = 1 if w != e
count ws = count(head)+count(remainingTails)
